<!-- Footer

W footerze umieszczony jest zduplikowany tytuł, nie ma potrzeby wyróżniać go przez tag nagłówka.
W footerze znajduje się lista linków do sieci społecznościowych.

Ikony sieci społecznościowych zrobić za pomocą svg-sprite.
Linki powinny otwierać stronę główną sieci społecznościowej na nowej karcie.
Numer telefonu musi zostać zaimplementowany za pomocą protokołów łączności. -->


<footer>
    <p>homemade ice cream made</p>
    <p>with passion</p>
    <svg>
        <use><!--ikona social media--></use>
    </svg>
    <svg>
        <use><!--ikona social media--></use>
    </svg>
    <svg>
        <use><!--ikona social media--></use>
    </svg>
    <p>Feel free to contact</p>
    <adress><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></adress>
    <p>© 2022 - IceCream. All Rights Reserved.</p>
</footer>