<header class="h-container">
  <!-- Box for icon.svg -->
  <div class="ice-icon">
    <svg>
      <use href="./images/symbol-defs.svg#"></use>
    </svg>
  </div>
  <!-- Section for navigation with ancors -->
  <section class="head-navigation">
    <ul class="nav-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">How it's made?</a></li>
      <li><a href="#">Our products</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
  </section>
  <!-- Box for "Buy" button -->
  <div class="header_button">
    <button class="purchase_button" type="submit">
      <p>
        <svg>
          <use href="./images/symbol-defs.svg#"></use>
        </svg>
      </p>
    </button>
  </div>
</header>
