<section class="hero-container">
  <div class="hero-left-side">
    <h1>ice cream made with passion</h1>
    <span class="hero-right-side_navigation">
      <button class="hero-right-side_navigation_button" type="submit"><p>Products</p></button>
      <a href="#">How it's made?</a>
    </span>
    <span class="hero-right-side_presentation">
      <div class="hero-right-side_presentation_frame">
        <img
          src="./images/#"
          alt="Beautifull, colorfull ice cream dessert with fruits and chocolate garnish"
          class="presentation_ice_cream_plate"
        />
      </div>
    </span>
  </div>
  <div class="hero-right-side">
    <span class="hero-right-side_cafes_foodtrucks">
      <p></p>
      <p></p>
    </span>
    <span class="hero-right-side_cafes_foodtrucks">
      <p></p>
      <p></p>
    </span>
  </div>
</section>
