<!-- Advantages

W sekcji nie ma widocznego tytułu. Należy utworzyć ukryty nagłówek dla crawlerów.

W sekcji znajduje się lista zalet. Należy go zaimplementować jako siatkę elementów.

Ikony zalet w makiecie są wyświetlane w formacie png/svg. W układzie trzeba je zaimplementować za pomocą
pseudoelementów. -->



<section class="advantages-section">
    <h2>Advantages</h2>
    <!--do ukrycia-->
    <ul>
        <li>
            <svg>
                <use>ikona</use>
            </svg>
            <p>721 Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li>
            <svg>
                <use>ikona</use>
            </svg>
            <p>16kg Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li>
            <svg>
                <use>ikona</use>
            </svg>
            <p>84 Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</section>