<!-- Customer Reviews

W sekcji znajduje się suwak z recenzjami klientów.

Znaczniki u dołu slajdu - to paginacja page by page tego suwaka. Jeśli podłączasz bibliotekę slajdów do projektu,
wówczas nie trzeba ich tworzyć, są one automatycznie generowane przez bibliotekę. Trzeba będzie tylko wykonać stylizację
paginacji. -->


<section class="customer-reviews-section">
    <img src="#" alt="pictures of client" />
    <p>
        I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
        addition, you have beautiful serving, cozy atmosphere and polite staff.
    </p>
    <p>Emily, Los Angeles</p>
</section>