<!-- Products

“100% natural” - jest etykietą tytułu i nie wyróżnia się znacznikiem nagłówka.
“products” – jest tytułem sekcji.

Karty produktów zaprojektować jako siatkę elementów.

Obrazy na kartach produktów są dekoracyjne, należy je zaimplementować pseudo elementami.
Nazwy produktów są nagłówkami.

Przycisk ze strzałką na dole karty powinien otwierać okno modalne ze szczegółowym opisem produktu i formularzem do jego
zamówienia. -->


<section class="products-section">
    <p>100% natural</p>
    <h2>Products</h2>
    <ul>
        <li>
            <h3>Ice Cream</h3>
            <p>
                Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                stabilizer
            </p>
            <button type="button">strzałka</button>
        </li>
        <li>
            <h3>Ice Coffee</h3>
            <p>
                Fragrant invigorating drink created from 100% natural ingredients without the use of
                preservatives and flavor enhancers
            </p>
            <button type="button">strzałka</button>
        </li>
        <li>
            <h3>Milkshakes</h3>
            <p>
                Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
                and other sweets of your choice
            </p>
            <button type="button">strzałka</button>
        </li>
    </ul>
</section>